<!DOCTYPE html>
<html>
<!-- CSS for this interview is from HITCON CTF 2016 -->
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
	<div id="header">
		<h1 class="title">Http(s) Request Sender</h1>
	</div>
	<div id="slogan">
		<p class="text">The request sender for http and https.</p>
		<div class="line"></div>
	</div>
	<div id="content">
		<div class="text">
			<h4>Description :</h4>
			<p> &nbsp; &nbsp; Simple web page for request to the URL with the method inserting below. 
				The request will be on server side powered by Node.js, working via Socket.io which is bi-directional connecting with client side.
			</p>
			<hr>
			<h4>URL:</h4>
			<input type="text" id="userURL" placeholder="ex : https://google.com"/>
			<p> Insert the URL you want to request. (including http:// or https://) &nbsp;</p>
			<h4>Method:</h4>
			<input type="text" id="userMethod" placeholder="ex : GET, POST, PUT, DELETE"/>
			<p> Insert the method you want to use. &nbsp;</p>
			
			<!-- SOCKET SEND -->
			<button id="btnSendRequest">SEND</button>
			<div id="Content"></div>
			
			<hr>
		</div>
	</div>
	<!-- Script for running background is from HITCON CTF 2016 -->
	<script src="/js/three.min.js.download"></script>
	<script src="/js/interview.js.download"></script>
	<!-- <script src="/node_modules/ejs/ejs.min.js"/> -->
	<!--<script src="https://code.jquery.com/jquery-1.11.1.min.js"</script>-->
	<!--<script src="/socket.io/socket.io.js"></script> -->
	<script src="https://cdn.socket.io/socket.io-1.4.7.js"></script>
	<script>
		var socket = io();
		$('#btnSendRequest').on('click',function(){
			var userURL = $("#userURL").val();
			var userMethod = $('#userMethod').val();
			var userRequest = {"userURL":userURL,"userMethod":userMethod};
			socket.emit('userRequest', userRequest);
			console.log(userURL);
			console.log(userMethod);
			console.log(userRequest);

		});
		socket.on('userRequest',function(message){
			//$('#Content').append($("<p class='red'>").text(url));
			$('#Content').text("");
			message = message.split("\n")
			console.log(message);
			for(i=0;i<message.length;i++){
				$('#Content').append($("<p class='red'>").text(message[i]));
			}
			
		});
		
	</script>
</body>
</html>
